@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}

body {
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color:white;
  margin: 0px;
}

table {
  color: rgb(24, 21, 20);
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  background-color: azure;
}

#customer th {
  background-color: #b8c2c7;
}

#customer tr:nth-child(odd) {
  background-color: #fdfcfc;
}


#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

td,
th {
  border: 1px solid #5f5c5c;
  text-align: center;
  font-size: medium;
  padding: 5px;
}



.myDiv {
  text-align: center;
  background-color:#C5CBE3;
  border-radius: 10px;
  padding: 10px 30px 20px 30px;
  margin: 70px 20px 0px 20px;
  
}


.div {
  margin: 0 75px;
  border-radius: 15px;
  /* background-color: #C5CBE3; */
  padding:10px 20px 10px 20px;
  color:rgb(19, 33, 58);
  
}


.myDiv1 {
  text-align: center;
  text-decoration: wavy;
  border: 2px solid #191818;
  border-radius: 10px;
  
  padding: 0px 20px 50px 20px;
  margin: 20px 30px 50px 30px;

  background-image: url('assets/bg1.png');
  background-repeat: no-repeat;
  background-size: 500px 500px;
  background-attachment:scroll;
  background-position: center;
}

.navebar {      
  background-color: #4056A1;
  padding: 5px 10px;
  color: white;
  position:fixed;
   top: 0;
    z-index: 1020;
    width: 100%;
}

form {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.form-group {
  flex: 20;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

label {
  margin-bottom: 10px;
  margin-top: 10px;  
}

input,
select {
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4056A1;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-weight: bold;
  font-size: large;
}

input[type="submit"]:hover {
  background-color: rgb(12, 172, 15);
}

.butt {
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 10px;
  width: 10%;
  font-weight: bold;
  font-size: medium;
  box-sizing: content-box;
  cursor: pointer;
  background-color: #4056A1;
  color: white;
  position:relative;
}
.butt:hover{
  background-color: rgb(12, 172, 15);
}

.Description{
  background-color: #4056A1;
  padding: 30px 20px;
  font-size: 18px;
  color: white;
}